{
  "__merge" : [],
  "refreshInterval" : 2.0,
  "initialquests" : {
	"__merge" : [],
    "glitch" : [ "engineer.gearup", "proboundmain.gearup" ],
    "human" : [ "farmer.gearup", "proboundmain.gearup" ],
    "avian" : [ "tanning.gearup", "proboundmain.gearup" ],
    "apex" : [ "runecrafter.gearup", "proboundmain.gearup" ],
    "floran" : [ "alchemist.gearup", "proboundmain.gearup" ],
    "hylotl" : [ "medic.gearup", "proboundmain.gearup" ]
    }
}